<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="SanityTests">
        <groups>
            <run>
                <include name="sanity" />
            </run>
        </groups>
        <packages>
            <package name="web"/>
        </packages>
    </test>

    <test name="RegressionTests">
        <groups>
            <run>
                <include name="regression" />
            </run>
        </groups>
        <packages>
            <package name="web"/>
        </packages>
<!--        <classes>-->
<!--            <class name="web.FailureTests" />-->
<!--            <class name="web.ErrorTests"/>-->
<!--        </classes>-->
    </test>
</suite>
